# Supabase Configuration
SUPABASE_URL=https://lbviqtrxwxybpbjnalrc.supabase.co
SUPABASE_ANON_KEY=sb_publishable_9-KQYRNBVoykaa9UyQ3ooQ_RTsIEAtT
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxidmlxdHJ4d3h5YnBiam5hbHJjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTAzNTcwMiwiZXhwIjoyMDkwNjExNzAyfQ.FqLv94zDK4pcbwYcW6m3NfqAynZu-yRm5_ZX2gYcMXM

# Server Configuration
PORT=3000
NODE_ENV=development